.header{
   display: grid;
   background-color: aqua;
   grid-template-columns: 1fr 1fr;
   padding: 20px;
   width: 760px
}

.link{
   color: blue;
   text-decoration: underline;
   cursor: pointer
}

.right{
  justify-self: end
}
