.header{
   display: grid;
   margin: 0 auto;
   background-color: aqua;
   width: 760px;
   height: 100px;
   text-align: right;
   padding: 20px;
}

.link{
   color: blue;
   text-decoration: underline;
   cursor: pointer
}
