.container{
  display: grid;
  background-color: aquamarine;
  width: 800px;
  margin: 0 auto
}

.item{
   background-color: white;
   width: 720px;
   padding: 20px;
   margin: 20px
   
}

h2{
   margin: 0
}
